---
layout: default
---
<nav class="nav-top">
    <ul>
      <li class="menu-button-left">
        <button id="show-menu-left"><i aria-hidden="true" class="fa fa-bars"></i></button>
      </li>
      <li><b><a href="#">Congeria Wiki</a></b></li>
      <li class="hidden-small">
        <form>
          <input type="text" name="search" placeholder="Search"/>
          <button type="submit"><i aria-hidden="true" class="fa fa-search"></i></button>
        </form>
      </li>
    </ul>
  </nav>
  <ul class="menu-left col_ul">
    <li class="hidden-large">
      <form>
        <input type="text" name="search" placeholder="Search"/>
        <button type="submit"><i aria-hidden="true" class="fa fa-search"></i></button>
      </form>
    </li>
    <li class="header"><span class="item-header no-sub">Contents</span></li>
    <li class="item"><span class="item-header no-sub">Abstract</span></li>
    <li class="item"><span class="item-header">Galaxies</span>
      <ul>
        <li class="item"><span>About</span></li>
      </ul>
    </li>
  </ul>
  
  <article class="page">
    <h1>Galaxies</h1>
    <table class="info hidden-large">
      <tr>
        <td><b>Type</b></td>
        <td>Galaxy</td>
      </tr>
    </table>
    <section>
      <h2>About</h2>
      <p>Their are a plethora of galaxies in the <a href="/wiki/about/">Congeria</a> <a href="/wiki/universe/">Universe.</a></p>
    </section>
  </article>
  
  <ul class="menu-right">
    <li class="header">Galaxies</li>
    <li class="item"><img src="https://placehold.it/350x150" alt="Placeholder image from Placehold.it"/></li>
    <li class="item table">
      <table class="info">
        <tr>
          <td><b>Type</b></td>
          <td>Galaxy</td>
        </tr>
      </table>
    </li>
  </ul>
