<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type='text/css' media='all' property='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type='text/css' media='all' property='stylesheet' href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700">
  <link rel="stylesheet" type='text/css' media='all' property='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.10/css/perfect-scrollbar.css">
  <link rel="stylesheet" type='text/css' media='all' property='stylesheet' href="/wiki/libraries/app.css">
</head>

<body class="shown-menu-left">
  
  {{ content }}
  
  <script src="https://use.fontawesome.com/f40007b752.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.10/js/perfect-scrollbar.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/smart-underline/4.2.1/js/smart-underline.min.js"></script>
  <script src="/wiki/libraries/app.js"></script>
</body>

</html>
